<div class="container">
  <h1>Öğrenci Listesi</h1>
  <h3 *ngIf="secOgun">
    <b>Ogun Adı: </b> {{secOgun.ogunAdi}} &nbsp;&nbsp;
    <b>Ogun Kal : </b> {{secOgun.ogunKal}} &nbsp;&nbsp;
    <b>Ogun Tarihi : </b>{{secOgun.ogunTarih}}
  </h3>

  <button mat-fab color="primary" matTooltip="Öğün Listesi" [routerLink]="['/ogun']">
    <mat-icon aria-label="label">arrow_back</mat-icon>
  </button>&nbsp;
  <button mat-fab color="primary" matTooltip="Öğün Ekle" (click)="Ekle()">
    <mat-icon aria-label="label">add</mat-icon>
  </button>

  <p>&nbsp;</p>
  <h3 style="color:red" *ngIf="kayitlar?.length==0">Henüz Yemek Eklenmedi!</h3>
  <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="yemekAdi">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Yemek Adı
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.yemekBilgi.yemekAdi}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="yemekKal">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Yemek Kalori
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.yemekBilgi.yemekKal}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="yemekGr">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Yemek Gram
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.yemekBilgi.yemekGr}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="islemler">
      <mat-header-cell *matHeaderCellDef> İşlemler
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit">

        <button mat-icon-button color="warn" matTooltip="Yemeği Öğünden Sil" (click)="Sil(kayit)">
          <mat-icon aria-label="label">delete</mat-icon>
        </button>

      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[10, 25,50, 100,500]" showFirstLastButtons>
  </mat-paginator>
